* {
  margin: 20px 20px;
}
#mainheading {
  text-align: center;
  color: brown;
  font-size: 72px;
}

#tablediv {
  align-content: center;
  display: block;
}

#hiddentable {
  margin-right: auto;
  margin-left: auto;

  border: 1px solid black;
  border-radius: 10px;

  width: 250px;
  padding: 3px 3px;

  text-align: center;
  background-color: rgb(5, 5, 5);
}

#display {
  width: 300px;
  height: 100px;
  font-size: 20px;
}
td {
  border: 1px solid white;
  border-radius: 10px;
}

.button {
  width: 45px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  font-size: 18px;
}
